/******** CARS LIST *********/
.cars-for-sell {
  width: 100%;
  display: flex;
  gap: 5%;
  padding-top: 50px;
}

.for-sell-filter-panel {
  position: fixed;
  height: 500px;
  width: 20%;
  min-width: 250px;
  border: 1px solid black;
}

.cars {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 30px;
}

.for-sell-list-search-container {
  align-self: center;
  width: 50%;
  min-width: 350px;
  display: flex;
  border-radius: 7px;
  margin-top: 30px;

  /* justify-content: space-between; */
  background-color: rgba(95, 95, 95, 0.352);
  margin-bottom: 50px;
}

.for-sell-list-search {
  height: 45px;
  width: 100%;
  background-color: rgba(95, 95, 95, 0.352);
  padding-left: 10px;
  border: none;
  border-radius: 7px;
}

.for-sell-list-search:focus {
  outline: none;
}

.for-sell-list-search-button {
  cursor: pointer;
  text-align: center;
  width: 70px;
  background-color: #cb594d;
  border: none;
  border-radius: 7px;
  margin: 2px;
}

.cars-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
/******** CARS LIST *********/

/******** CAR CARD *********/
.car-card {
  cursor: pointer;
  height: 300px;
  flex-basis: 270px;
  border: 2px solid rgba(0, 0, 0, 0.352);
  border-radius: 10px;
}

.vehicle-card-image {
  width: 100%;
  height: 100px;
  text-align: center;
  overflow: hidden;
  border-bottom: 2px solid rgba(0, 0, 0, 0.352);
  border-radius: 10px;
}

.vehicle-card-image img {
  height: 100px;
  margin: 0 -100%;
}

.car-card-content {
  padding: 10px;
}

.car-card-price {
  margin-top: 75px;
}
/******** CAR CARD *********/

/******** CAR DETAILS *********/
.car-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.car-details {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  border: 2px solid rgba(0, 0, 0, 0.352);
  border-radius: 15px;
}

.car-details-name {
  text-align: center;
}

.car-details-image {
  height: 400px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 15px;
}

.car-details-image img {
  height: 90%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.car-details-vehicle-details-title {
  text-align: center;
  width: 90%;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.car-details-detail-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 0 80px 20px;
  border-bottom: 1px solid black;
}

.car-details-detail {
  flex: 1 2 300px;
}

.car-details-purchase {
  padding-bottom: 30px;
}

.car-details-purchase-button {
  cursor: pointer;
  text-align: center;
  height: 30px;
  width: 100px;
  background-color: #cb594d;
  border: 1px solid #a82c1f;
  border-radius: 15px;
  margin: 2px;
}
/******** CAR DETAILS *********/
