.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 10px;
}

.nav-links-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

a.nav-links {
  color: black;
  text-decoration: none;
}

.logo-container {
  width: 100px;
  display: flex;
  margin-top: 5px;
}

.logo {
  width: 100px;
  height: 100%;
  object-fit: scale-down;
  overflow: hidden;
}

.profile-buttons {
  height: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #cb594d;
  padding: 1px 3px;
  border: 1px solid rgba(0, 0, 0, 0.411);
  border-radius: 10px;
}

.profile-dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 5px;
  border-radius: 15px;
  margin-top: 135px;
  margin-right: -100px;
  margin-left: 50px;
}

.profile-dropdown li {
  text-align: center;
  list-style: none;
  height: 23px;
  width: 80px;
}
